.thumbnail {
  img {
    width: 100%;
    max-width: 720px;
    transition: all 0.3s linear;
    object-fit: cover;
    border-radius: 20px;
    animation: animateThumb 0.5s;

    @keyframes animateThumb {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }

  h3 {
    color: white;
    text-align: center;
  }

  .star-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    span {
      color: #ffd700;
      margin: 0 5px;
    }
  }
}
