#dark .sidebar {
  border-right: 1px solid #4e4e4c4d;

  &::-webkit-scrollbar-track {
    background: #09090a;
  }

  &__logo a {
    color: #fff;
  }

  &__categories,
  &__genres {
    h2 {
      color: #fff;
    }
    a {
      color: #a3a696;
      &:hover {
        color: white;
      }
    }
  }
}

#light .sidebar {
  border-right: 1px solid #e0e0e04d;

  &::-webkit-scrollbar-track {
    background: #cdcdcf;
  }

  &__logo a {
    color: #181818;
  }

  &__categories,
  &__genres {
    h2 {
      color: #181818;
    }
    a {
      color: #353535;
      &:hover {
        color: #181818;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  width: 20%;
  left: -20%;
  height: 100vh;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 15px;
  transition: left 0.3s linear;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4e4e4cc9;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &__logo {
    padding: 20px 10px;
    a {
      font-size: 35px;
      font-weight: bolder;
      letter-spacing: 5px;
      font-family: 'Burton', sans-serif;
      span {
        color: #9f3006;
      }
    }
  }

  &__categories,
  &__genres {
    padding: 10px 0 0 10px;
    h2 {
      letter-spacing: 5px;
    }
    ul {
      list-style: none;
      li {
        font-size: 20px;
        margin: 15px 0;
        transition: all 0.3s linear;
        cursor: pointer;
        a {
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }

  &.open {
    left: 0%;
  }

  @media screen and (max-width: 1024px) {
    left: -100%;
    top: 80px;
    width: 100%;
    background-color: #09090a;
    z-index: 100;
    &.open {
      right: 0;
    }
  }
}
