.app {
  &#dark {
    background-color: #181818;
    color: #eef2f2;
  }
  &#light {
    background-color: #eef2f2;
    color: #181818;
  }
  min-height: 100vh;
  padding-top: 100px;
  .container {
    margin-left: 0%;
    position: relative;
    width: 100%;

    &.sidebar-open {
      width: 80%;
      margin-left: 20%;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-left: 0%;
      &.sidebar-open {
        width: 100%;
        margin-left: 0%;
      }
    }
  }
}
