$dark-back: #09090a;
$white: #ffffff;
$w: #3f4e50;
$e: #a3a696;
$d: #5a1705;
$p: #9f3006;
$backgroundDark: #181818;
$backgroundLight: #eef2f2;
$secondary: #7b818a;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #181818;
}

a {
  text-decoration: none;
}
